       {{!--    <link rel="stylesheet" href="style.css"> --}}
    <!-- Slideshow container -->
    <nav id="navbar" class="relative, w-full bg-black">
        
        <div class="slideshow-container">
            <!-- text -->
            <div class="slideText">
                <p id="hello" class="titleText">HELLO. I AM</p>
                <p id="name1" class="titleText">JOSHUA K.</p>
                <p id="name2" class="titleText">// BADER</p>
            </div>
            <!-- <h2 class="infoTitle">Scroll below for more information</h2> -->
     
            <div class="imageSlide">
                <div class="house"></div>
                <div class="smoke"></div>
                <div class="titleSeq1"></div>
                <div class="titleSeq2"></div>
                <div class="titleSeq3"></div>
                <div class="titleSeq4"></div>
                <div class="titleSeq5"></div>
                <div class="moon"></div>
                </div>

                <div class="buttonSeq">
                    <button id="project" class="titleButton"><a class="hide">//</a>Pr<a class="hide">o</a>j<a class="hide">e</a>cts</button>
                    <button id="about" class="titleButton">ab<a class="hide">ou</a>t<a class="hide">//</a>me</button>
                    <button id="contact" class="titleButton">c<a class="hide">o</a>nt<a class="hide">a</a>ct<a class="hide">//</a></button>
                </div>
    </div>
    </nav>

    