<link rel="stylesheet" href="./css/main.css">

<div class="bg-blue-300 w-full h-full">
    <!-- Slideshow container -->
    <header id="navbar" class="bg-black h-screen subpixel-antialiased overflow-hidden">

        <!-- text -->
        <div class="w-full flex flex-row justify-end pr-20 pt-10">
            <ul class="text-2xl pMarker text-right z-10">
                <li id="hello" class="mr-16" style="font-size: 3.5em; margin-bottom: -0.8em">HELLO. I AM</li>
                <li id="name1" class="mr-12" style="font-size: 7.5em; margin-bottom: -0.6em">JOSHUA K.</li>
                <li id="name2" style="font-size: 7.5em;">// BADER</li>
            </ul>
        </div>
        <!-- <h2 class="infoTitle">Scroll below for more information</h2> -->

        <div class="block pt-64">
            <div id="titleSeq1" class="bg-green-500 animation" style="z-index:4"></div>
            <div id="titleSeq2" class="bg-yellow-600 animation" style="z-index:3"></div>
            <div id="titleSeq3" class="bg-pink-500 animation" style="z-index:2"></div>
            <div id="titleSeq4" class="bg-blue-300 animation" style="z-index:1"></div>
            <div id="moon" class="animation" style="z-index:6"></div>
            <div id="house" style="z-index:7; position: absolute; bottom: 4%; right: 24%"></div>
            <div id="smoke" style="z-index:6; position: absolute; bottom: 16%; right: 18.5%"></div>
        </div>
    </header>

    <nav id="buttonSeq" class="preNavHeader w-full z-10 subpixel-antialiased">
        <button id="project" href="#week1" tabindex="1" class="pMarker w-64 ml-16 hover:text-yellow-400"><a
                class="hide">//</a>Pr<a class="hide">o</a>j<a class="hide">ec</a>t<a class="hide">s</a></button>
        <button id="about" tabindex="2" class="pMarker w-64 hover:text-purple-400">ab<a class="hide">ou</a>t<a
                class="hide">//</a>m<a class="hide">e</a></button>
        <button id="contact" tabindex="3" class="pMarker w-64 hover:text-blue-500">c<a class="hide">on</a>t<a
                class="hide">a</a>ct<a class="hide">//</a></button>
    </nav>


    <section id="disclaimer" class="z-30 p-8 bg-red-500 mx-auto rounded-lg" style="width:60%; height:40%">
        <h1>Disclaimer!</h1>
        <p>Yesterday an apple created gravity</p>
        <p>Tomorrow space will be reality</p>
        <p>and today, I will dream about Lorem Ipsum</p>
        <button>Week 1 - 6: frontEnd</button>
        <button>Week 7 - 11: backEnd</button>
        <button>Week 12 - 17: dataBases</button>
        <button>Week 18 - 22: full stack</button>
        <button>All</button>
    </section>

    <div id="overlay" class="z-20 opacity-0 bg-purple-400"></div>

    <main id="section-container" class="h-full text-center bg-blue-300 hide relative">

        <div id="slide1" data-slide="1"
            class="grid-cols-3 gap-3 grid-flow-row mx-4 h-screen pt-20 pb-16 imageShow slides">

            <div id="week1" class="prjBox bg-cover cursor-pointer row-span-2 w-full flex justify-center flex-col align-middle" style="clip-path: polygon(100% 56%, 90% 75%, 96% 90%, 65% 100%, 0 100%, 0 0, 100% 0); 
            background-image: url(./img/week1.jpg)">
                <a class="wkTtl pMarker text-4xl text-center">WEEK 1</a>
                <div class="prjInfo hide text-left w-full h-full bg-red-400">
                <p class="text-4xl mx-6 mt-6">Horisen</p>
                <p class="text-lg mx-6">15/02/2020</p>
                <p class="text-md mx-6 my-4">Take existing Html and CSS project files and refractor it to meet a particular outline. For extra flare, show addition understanding of html and css through application.</p>
                <a class="mx-6 text-lg" href="https://ryuku72.github.io/HomeworkW1/">Website</a>
                <a class="mx-6 text-lg" href="https://github.com/Ryuku72/HomeworkW1">gitHub</a>
                <a class="mx-6 text-lg" href="https://github.com/Ryuku72/HomeworkW1/blob/master/README.md">ReadMe</a>
                </div>
            </div>

            <div class="prjBox bg-cover cursor-pointer col-span-2 w-full flex flex-col justify-center align-middle" style=" clip-path: polygon(35% 100%, 17% 100%, 0 100%, 0 0, 79% 0, 90% 13%, 100% 0, 100% 100%);
             background-image: url(./img/week2.jpg)">
                <a class="wkTtl text-center pMarker text-4xl">WEEK 2</a>
                     <div class="prjInfo hide text-left w-full h-full bg-green-400">
                <p class="text-4xl mx-6 mt-6">Portfolio ver.1</p>
                <p class="text-lg mx-6">23/02/2020</p>
                <p class="text-md mx-6 my-4">Utilizing the CSS framework Bootstrap make a responsive profile website that tells us a little bit about yourself </p>
                <a class="mx-6 text-lg" href="https://ryuku72.github.io/HomeworkW2/">Website</a>
                <a class="mx-6 text-lg" href="https://github.com/Ryuku72/HomeworkW2">gitHub</a>
                <a class="mx-6 text-lg" href="https://github.com/Ryuku72/HomeworkW2/blob/master/README.md">ReadMe</a>
                </div>
                </div>

            <div class="prjBox bg-cover w-full flex flex-col justify-center align-middle" style="clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 11% 76%, 0 53%, 0 0);
            background-image: url(./img/week3.jpg)">
                       <a class="wkTtl text-center pMarker text-4xl">WEEK 3</a>
                     <div class="prjInfo hide text-right w-full h-full bg-purple-400">
                <p class="text-4xl mx-6 mt-6">Random Password Generator</p>
                <p class="text-lg mx-6">02/03/2020</p>
                <p class="text-md mx-6 my-4">Using JavaScript create a Random Password Generator that uses functions, variables and alerts. Try to make your password unique and include as many questions as possible to better provide a unique outcome.</p>
                <a class="mx-6 text-lg" href="https://ryuku72.github.io/HomeworkW3/">Website</a>
                <a class="mx-6 text-lg" href="https://github.com/Ryuku72/HomeworkW3">gitHub</a>
                <a class="mx-6 text-lg" href="https://github.com/Ryuku72/HomeworkW3/blob/master/README.md">ReadMe</a>
                </div></div>

            <div class="bg-cover row-span-2 w-full flex flex-col justify-center align-middle" style="clip-path: polygon(0 100%, 0 0, 90% 0, 87% 11%, 97% 15%, 94% 29%, 100% 43%, 100% 100%);
            background-image: url(./img/week4.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 4</a></div>

            <div class="bg-cover col-span-2 w-full flex flex-col justify-center align-middle" style="clip-path: polygon(35% 100%, 17% 100%, 0 73%, 0 0, 79% 0, 90% 13%, 100% 0, 100% 100%);
            background-image: url(./img/week5.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 5</a></div>

        </div>
        <div id="slide2" data-slide="2"
            class="grid-cols-3 gap-3 grid-flow-row mx-4 h-screen pt-20 pb-16 carousel-inner imageHide slides">

            <div class="bg-cover row-span-2 w-full flex flex-col justify-center align-middle" style="clip-path: polygon(50% 0%, 100% 0, 100% 77%, 72% 100%, 49% 83%, 31% 100%, 15% 100%, 8% 100%, 0 100%, 0 0);
            background-image: url(./img/week6.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 6</a></div>

            <div class="bg-cover col-span-2 w-full flex flex-col justify-center align-middle" style="clip-path: polygon(13% 49%, 0 31%, 0 0, 100% 0, 100% 100%, 48% 100%, 0 100%, 0 67%);
            background-image: url(./img/week7.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 7</a></div>

            <div class="bg-cover w-full flex flex-col justify-center align-middle" style="clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 60%);
            background-image: url(./img/week8.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 8</a></div>

            <div class="bg-bcover w-full flex flex-col justify-center align-middle" style="clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
            background-image: url(./img/week9.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 9</a></div>

            <div class="bg-bcover w-full flex flex-col justify-center align-middle col-span-2" style="clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
            background-image: url(./img/week10.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 10</a></div>

            <div class="bg-bcover w-full flex flex-col justify-center align-middle" style="clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
            background-image: url(./img/week11.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 11</a></div>

        </div>
        <div id="slide3" data-slide="3"
            class="grid-cols-3 gap-3 grid-flow-row mx-4 h-screen pt-20 pb-16 carousel-inner imageHide slides">

            <div class="bg-bcover w-full flex flex-col justify-center align-middle col-span-2" style="clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
            background-image: url(./img/week12.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 12</a></div>

            <div class="bg-bcover w-full flex flex-col justify-center align-middle row-span-2" style="clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
            background-image: url(./img/week13.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 13</a></div>

            <div class="bg-bcover w-full flex flex-col justify-center align-middle" style="clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
            background-image: url(./img/week14.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 14</a></div>

            <div class="bg-bcover w-full flex flex-col justify-center align-middle" style="clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
            background-image: url(./img/week15.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 15</a></div>

        </div>
        <div id="slide4" data-slide="4"
            class="grid-cols-3 gap-3 grid-flow-row mx-4 h-screen pt-20 pb-16 carousel-inner imageHide slides">

            <div class="bg-center bg-auto w-full flex flex-col justify-center align-middle row-span-2" style="clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
            background-image: url(./img/week16.jpg);
             background-size: 120% 130%">
                <a class="text-center pMarker text-4xl">WEEK 16</a></div>

            <div class="bg-center bg-auto w-full flex flex-col justify-center align-middle"
                style="clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);background-image: url(./img/wip.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 17</a></div>

            <div class="bg-center bg-auto w-full flex flex-col justify-center align-middle row-span-2"
                style="clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);background-image: url(./img/wip.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 18</a></div>
            <div class="bg-center bg-auto w-full flex flex-col justify-center align-middle"
                style="clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);background-image: url(./img/wip.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 19</a></div>

        </div>
        <div id="slide5" data-slide="5"
            class="grid-cols-3 gap-3 grid-flow-row mx-4 h-screen pt-20 pb-16 carousel-inner imageHide slides">

            <div class="bg-center bg-auto w-full flex flex-col justify-center align-middle"
                style="clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);background-image: url(./img/wip.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 20</a></div>

            <div class="bg-center bg-auto w-full flex flex-col justify-center align-middle col-span-2"
                style="clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);background-image: url(./img/wip.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 21</a></div>

            <div class="bg-center bg-auto w-full flex flex-col justify-center align-middle col-span-2"
                style="clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);background-image: url(./img/wip.jpg)">
                <a class="text-center pMarker text-4xl">WEEK 22</a></div>

        </div>

        <a id="leftBtn" class="absolute left-0 w-auto font-bold text-white text-4xl px-4 slider"
            data-left="{{imageShow}}" style="top: 50%" href="#">&#10094;</a>
        <a id="rightBtn" class="absolute right-0 w-auto font-bold text-white text-4xl px-4 slider"
            data-rightt="{{imageShow}}" style="top: 50%" href="#">&#10095;</a>


    </main>
    <footer class="hide absolute bottom-0 w-full bg-gray-800 flex justify-end align-bottom"
        style="clip-path: polygon(0 0, 9% 0, 26% 65%, 45% 0, 100% 0, 100% 32%, 100% 100%, 0 100%);"
        style="height: 10vh">
        <p class="text-xl text-pink-600 mr-6 mt-2" style="font-family:'Share Tech Mono', monospace">Foreign
            Toolkit 2020</p>
    </footer>


</div>
<script src="./js/main.js"></script>